.price {
    padding-top: 66px;
    &__wrapper {
        padding: 60px 2vw 0 2vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 380px));
        justify-content: space-around;
        row-gap: 15px;
        column-gap: 40px;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        padding-left: 15px;
    }
    &__type, &__count {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
    }
    &__type {
        position: relative;
        @include before_circle;
        &:before {
            width: 15px;
            height: 15px;
            left: -30px;
            top: 3px;
        }
    }
    &__count {
        text-align: right;
    }
    &__descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        grid-column: 1 / 3;
    }
}