.promo {
  min-height: 100vh;
  position: relative;
  //   background: url(../img/main_bg.jpg) no-repeat 54%/cover;
  //   background: url(../img/Eitan_blue1.png) no-repeat 100% / cover;
  //   background: linear-gradient(#e66465, #9198e5);
  background: url(../img/pink_gardie.png) no-repeat 10% / cover;
  //   background-attachment: fixed;
  padding-top: 30vh;
  animation: bg-pan-top 8s infinite both;
  &__bgphoto img {
    right: 6rem;
    bottom: 0;
    height: 110vh;
    position: absolute;
    // filter: drop-shadow(0 0 20px #333);
  }
  &__title {
    width: 535px;
    margin-top: 10px;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include before_circle;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    width: 270px;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    color: #000;
    font-weight: bold;
    &:hover {
      color: #000;
      cursor: pointer;
      text-decoration: none;
    }
  }
  &__about {
    height: 45px;
    padding: 12px;
  }
}

@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
// @-webkit-keyframes bg-pan-bottom {
//     0% {
//       background-position: 50% 0%;
//     }
//     100% {
//       background-position: 50% 100%;
//     }
//   }
